<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Simple Web App to query Chat GPT any question you like</title>
    <!-- Load Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

          <link rel="stylesheet" href="/templates/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script>document.addEventListener('DOMContentLoaded', (event) => {
        hljs.highlightAll();
    });</script>

</head>
<!--?<style>
    body {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
    }

    .container {
        max-height: 90vh;
        overflow-y: auto;
        padding: 1rem;
    }
</style>-->
<body>
<div class="container">
    <h1>Code Completion App using GPT-4</h1>
    <form>
        <label for="question">Enter your prompt:</label><br>
        <input type="text" id="question" name="user_input"><br>
        <br>
        <button type="button" onclick="sendRequest()">Submit</button>
    </form>

    <br>

    <div id="answer">
        Answer will be shown here
    </div>
    <div id="rating">
        <span id="thumbs-up" style="cursor:pointer;">👍</span>
        <span id="thumbs-down" style="cursor:pointer;">👎</span>
    </div>
    <input type="hidden" id="currentResponseId" value="">
</div>

<div id="feedback" style="display:none;"></div>
<!-- Login button for GitHub -->
<button id="login-github-btn">Login with GitHub</button>
<!-- Logout button for GitHub -->
<button id="logout-github-btn">Logout from GitHub</button>
<!-- Message to show if authenticated with GitHub -->
<div id="authenticated-message" style="display: none;">
    You have successfully authenticated to GitHub.
</div>


</body>
<!--?This leverages the JS code on the index.js file -->

<script src="/templates/index.js"></script>

</html>