/* style.css */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box; /* Ensures padding and border are included in total width and height */
}


.container {
    max-height: 90vh;
    overflow-y: auto;
    padding: 1rem;
}

.indent {
    display: inline-block;
    width: 1em;
}


code {
  white-space: pre;
    word-break: break-word;
}

pre {
  /*overflow-x: auto;*/
  white-space: pre-wrap;  /* Since 'pre' preserves whitespace, 'pre-wrap' will wrap the text */
  word-break: break-word; /* To prevent overflow due to unbreakable words */
  max-width: 100%;        /* Ensuring the 'pre' element doesn't exceed the width of its container */
}




#rating {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

#start-record-btn {
    font-size: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* style.css additions */
#message-container {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
}
.success {
  color: green;
  border-color: green;
}
.error {
  color: red;
  border-color: red;
}



